<div class="container p-4">
    <div class="row">
        {{#each links }}
            <div class="col-sm-3">
                <div class="card text-center">
                    <a href="{{link}}">
                        <h3 class="card-title text-uppercase p-2"> {{ title }} </h3>
                    </a>
                    <p class="m-2">{{description}}</p>
                    <p class="float-right"> {{timeago created_at}} </p>
                    <img class="mx-auto m-3" src="{{img}}" width="100" height="100" alt="">
                    <p>
                        <a href="links/delete/{{id}}" class="btn btn-danger">Delete</a>
                        <a href="links/edit/{{id}}" class="btn btn-info">Edit</a>
                    </p>
                </div>
            </div>
        {{else}}
            <div class="col-sm-4 mx-auto">
                <div class="card text-center">
                    <p>There are not links saved yet.</p>
                    <a href="links/add">Create One!</a>
                </div>
            </div>

        {{/each}}
    </div>
</div>